= form_for comment do |f|
  = f.hidden_field :commentable_type
  = f.hidden_field :commentable_id

  .comment_input
    = f.text_area :message, required: true, placeholder: "Enter Comments", class: "form-control"

  = f.submit "Comment", class: "btn-success btn"